body {
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


/* button.animated-button {
  color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: 2px solid rgb(0, 70, 128);
  border-radius: 5px;
  width: 200px;
  margin: 5px 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
button.animated-button:hover {
  color: #fff !important;
  background-color: transparent;
  text-shadow: none;
}
button.animated-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
button.animated-button:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #fff !important;
  background: rgb(0, 70, 128);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
} */

.mapHeader {
  display: none;
}

.resultsHeader {
  display: none;
}

.alert {
  border: 2px solid rgba(253, 0, 0, 0.5);
  background-color: rgba(255, 180, 180, 0.8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
}

.listSubmit {
  display: none;
}

#map {
  margin: 10px auto;
  width: 95%;
  height: 500px;
}

.marker { 
  background-image: url('https://www.mapbox.com/mapbox.js/assets/images/astronaut2.png'); 
  background-size: cover; 
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  cursor: pointer; 
}

.barContainer {
  display:inline-block;
}

footer a {
  color: rgb(0, 70, 128);
  text-decoration: none;
}

footer a:hover {
  color: rgb(100, 150, 190);
  text-decoration: underline;
}

footer a:visited {
  color: rgb(0, 70, 128);
}

#scrollMap {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  display: none;
  position: fixed;
  bottom: 40px;
  right: 0px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: #818282;
  color: white;
  cursor: pointer;
  padding: 12px 15px 12px;
  opacity: .6;
  line-height: 30px;
}