body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #1b1b1b;
}

fieldset {
  padding: 0;
  border: 0;
}

.mainLogo {
  width: 210px;
  margin: 100px auto 40px;
  display: block;
}

.searchFieldset {
  border: 0;
  padding: 0 17px;
  margin: 0;
  min-width: 0;
  text-align: center;
}

.searchForm {
  width: 100%;
}

.userInput {
  width: 100%;
}

.searchBar {
  width: 100%;
  height: 37px;
  border: 1px solid #515150;
  border-radius: 3px;
  background-color: #343434;
  font-size: 15px;
  font-weight: 400;
  color: #a5a5a5;
  outline: none;
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom: 16px;
  background-image: url("./images/MagGlass.svg");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 18px;
}

.mainButton {
  background: none;
  padding: 6px 8px;
  cursor: pointer;
  outline: none;
  border: 2px solid #474747;
  background-color: #8e8e8e;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.04em;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.mainButton:hover,
.mainButton:active {
  color: #0084ce;
  background-color: transparent;
  text-shadow: none;
}

.mainButton:hover:before,
.mainButton:active:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.mainButton .mainButton:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  content: "";
  color: #fff !important;
  background: #8e8e8e;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.buttonContainer {
  display: inline-block;
}

.vertLine {
  display: inline-block;
  border-left: 2px solid #0084ce;
  height: 31px;
  vertical-align: -11px;
  margin: 0 10px;
}

.resultsHeader {
  display: none;
}

.results {
  display: none;
}

.resultsBreak {
  display: none;
}

.advSearchOptions {
  display: none;
}

.mapHeader {
  display: none;
}

.listSubmit {
  display: none;
}

hr {
  height: 1px;
  border: 0;
  background-color: #8e8e8e;
  margin: 40px 25px 0;
}

.headerText {
  margin: 28px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.04em;
  color: #0084ce;
  text-align: center;
  text-decoration: underline;
}

.instructions {
  font-size: 14px;
  font-weight: 300;
  color: #c0c1bf;
  text-align: center;
  margin: 5px 28px 0;
}

.alert {
  border: 2px solid rgba(253, 0, 0, 0.5);
  background-color: rgba(255, 180, 180, 0.8);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 20px 17px;
  font-size: 14px;
  word-wrap: break-word;
  box-sizing: border-box;
}

.warning {
  font-weight: bold;
}

.resultsList {
  padding: 0;
  margin: 0 15px;
}

.barCardItem {
  list-style-type: none;
  margin: 23px 17px 0;
  background-color: rgba(192, 193, 191, 0.92);
  border-radius: 7px;
  padding: 13px;
  position: relative;
}

.orderNumber {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -0.04em;
  position: absolute;
  color: white;
  left: 50%;
  z-index: -1;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  bottom: 50%;
  height: 50px;
  margin-bottom: -5px;
}

.barContainer {
  display: inline-block;
  margin-right: 15px;
}

.barTitle {
  margin: 0 0 3px;
}
.barName {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: black;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  letter-spacing: -0.03em;
}

.barInfo {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

#removeButton {
  position: absolute;
  border: none;
  color: #6d6d6d;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 300;
  background: none;
  border-radius: 3px;
  top: 2px;
  right: 3px;
  line-height: 0.9em;
  cursor: pointer;
  outline: none;
}

#map {
  margin: 25px 17px 10px;
  height: 500px;
  border: 3px solid #0084ce;
}

.mapButton {
  background: none;
  padding: 6px 8px;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #212121;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.04em;
  position: relative;
  left: 50%;
  margin-left: -5%;
  bottom: 50px;
  color: white;
  z-index: 100;
}

.marker {
  background-image: url("https://www.mapbox.com/mapbox.js/assets/images/astronaut2.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.poweredText {
  margin: -20px 0 0;
}

.poweredText,
.copyText,
.copyright {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: #aaaaaa;
}

.boldAtr {
  font-weight: 600;
  color: #0084ce;
  text-decoration: underline;
}

.boldLink {
  color: #aaaaaa;
  text-decoration: underline;
}

.copyright {
  margin: 40px 0 2px;
}

.copyText {
  margin: 0 0 15px;
}

.vee {
  font-size: 35px;
  margin: -12px 0 0;
}

#scrollMap {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: none;
  position: fixed;
  bottom: 40px;
  right: 0;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #818282;
  color: white;
  cursor: pointer;
  padding: 0 7px 5px;
  opacity: 0.6;
  line-height: 30px;
}

#scrollMap a {
  text-decoration: none;
  color: white;
}

#scrollMap a:visited {
  color: white;
}

.mapSpecific {
  width: initial;
}

.beingDragged {
  background-color: rgb(221, 221, 221);
  padding: 20px;
}

@media only screen and (min-width: 420px) {
  .searchBar {
    width: 80%;
  }
}

@media only screen and (min-width: 550px) {
  .searchBar {
    width: 430px;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  #scrollMap {
    display: none !important;
  }

  .results {
    order: 1;
  }

  .mapData {
    order: 2;
    width: 675px;
    padding: 5px;
    margin: 0 auto;
  }

  .mapBreak {
    display: none;
  }

  .barCardItem,
  .alert {
    margin: 23px 0 0 17px;
  }
}

@media only screen and (min-width: 1200px) {
  .mapData {
    width: 49%;
  }

  .results {
    width: 49%;
  }
}
