body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #1B1B1B;
}

fieldset {
  padding: 0;
  border: 0;
}


/* button.animated-button {
  color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: 2px solid rgb(0, 70, 128);
  border-radius: 5px;
  width: 200px;
  margin: 5px 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
button.animated-button:hover {
  color: #fff !important;
  background-color: transparent;
  text-shadow: none;
}
button.animated-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
button.animated-button:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #fff !important;
  background: rgb(0, 70, 128);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
} */
.mainLogo {
  width: 210px;
  margin: 100px auto 40px;
  display: block;
}

.searchFieldset {
  border: 0;
  padding: 0 17px;
  margin: 0;
  min-width: 0;
  text-align: center;
}

.searchForm {
  width: 100%;
}

.userInput {
  width:100%;
}

.searchBar {
  width: 100%;
  height: 37px;
  border: 1px solid #515150;
  border-radius: 3px;
  background-color: #343434;
  font-size: 15px;
  font-weight: 400;
  color: #A5A5A5;
  outline: none;
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom: 16px;
  background-image: url("./images/MagGlass.svg");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 18px;
}

.mainButton {
  background: none;
  padding: 6px 8px;
  border: 0;
  cursor: pointer;
  outline: none;
  border: 2px solid #474747;
  background-color: #8E8E8E;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;  
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -.04em;
}

.mapButton {
  background: none;
  padding: 6px 8px;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #212121;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -.04em;
  position: relative;
  left: 50%;
  margin-left: -62px;
  bottom: 45px;
  color: white;
}


.buttonContainer {
  display: inline-block;
}

.vertLine {
  display: inline-block;
  border-left: 2px solid #0084CE;
  height: 31px;
  vertical-align: -11px;
  margin: 0 10px;
}

.resultsFieldset {
  display: none;
}

.advSearchOptions {
  display: none;
}

.mapHeader {
  display: none;
}

.resultsHeader {
  display: none;
}

.listSubmit {
  display: none;
}

#map {
  margin: 10px 17px;
  height: 500px;
}

hr {
  height: 1px;
  border: 0;
  background-color: #8E8E8E;
  margin: 25px 25px 0;
}

.headerText {
  margin: 20px 0 0;
  font-family: 'Montserrat', sans-serif;  
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -.04em;
  color: #0084CE;
  text-align: center;
  text-decoration: underline;
}

.instructions {
  font-size: 14px;
  font-weight: 300;
  color: #C0C1BF;
  text-align: center;
  margin: 5px 28px 0px;

}

.alert {
  border: 2px solid rgba(253, 0, 0, 0.5);
  background-color: rgba(255, 180, 180, 0.8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  font-size: 14px;
}

.warning {
  font-weight: bold;
}

.resultsList {
  padding: 0;
  margin: 0 15px;
}

.barCardItem {
  list-style-type: none;
  margin: 23px 13px 0;
  background-color: rgba(192, 193, 191, .92);
  border-radius: 7px;
  padding: 13px;
  position: relative;
}

.orderNumber {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -.04em;
  position: absolute;
  color: white;
  left: 50%;
  z-index: -1;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  bottom: 50%;
  height: 50px;
  margin-bottom: -5px;
}

.barContainer {
  display: inline-block;
  margin-right: 15px;
}

.barTitle {
  margin: 0 0 3px;
}
.barName {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: black;
  font-family: 'Montserrat', sans-serif; 
  margin: 0;
  letter-spacing: -.03em;
}

.barInfo {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

#removeButton {
  background-color: none;
  position: absolute;
  border: 1px solid #343434;
  color: #343434;
  font-family: 'Montserrat', sans-serif; 
  font-size: 18px;
  font-weight: 600;
}

.marker { 
  background-image: url('https://www.mapbox.com/mapbox.js/assets/images/astronaut2.png'); 
  background-size: cover; 
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  cursor: pointer; 
}

footer a {
  color: rgb(0, 70, 128);
  text-decoration: none;
}

footer a:hover {
  color: rgb(100, 150, 190);
  text-decoration: underline;
}

footer a:visited {
  color: rgb(0, 70, 128);
}

#scrollMap {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  display: none;
  position: fixed;
  bottom: 40px;
  right: 0px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: #818282;
  color: white;
  cursor: pointer;
  padding: 12px 15px 12px;
  opacity: .6;
  line-height: 30px;
}